{% extends "layout.html" %}
  {% block body %}
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/admin">Admin</a></li>
      </ul>
    </nav>
    <h1>Little Black Book</h1>
    <h5>special book for special people</h5>
    <form action={{ url_for("new_entry") }} method="POST" role="form">
      <div>
        <div>
          <input type="text" name="fname" placeholder="First name" required>
        </div>
        <div>
          <input type="text" name="lname" placeholder="Last name" required>
        </div>
        <div>
          <input type="text" name="phone" placeholder="Phone">
        </div>
        <div>
          <input type="text" name="email" placeholder="Email">
        </div>
        <button type="submit">Submit</button>
      </div>
    </form>
  {% endblock %}
